<footer class="site-footer h-card bg-dark text-light pt-4 pb-2">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="container wrapper">
      <div class="row">
        <div class="col">
          Navigation
          <ul class="">
            {%- include navlist.html -%}
          </ul>
          Socials 
          <ul class="">
            {%- include social.html -%}
          </ul>
        </div>
        <div class="col">
          {%- if site.author %}
            Contact
            <ul class="contact-list">
              {% if site.author.name -%}
                <li class="p-name">{{ site.author.name | escape }}:       
                {% if site.author.email -%}
                  <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
                {%- endif %}
                </li>
              {%- endif %}
            </ul>
            Subscribe
            <ul>
              <li>
                <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
                  <svg class="svg-icon">
                    <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                  </svg>
                </a>
              </li>
            </ul>
            Music
            <ul>
              <li><a href="{{ site.dj-site | absolute_url }}" target="_blank">{{ site.dj-name }}</a></li>
            </ul>
          {%- endif %}
        </div>
        <div class="col">
          <p>{{ site.description | escape }}</p>
        </div>      
    </div>
  </footer>