---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "/assets/css/minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "/assets/css/minima/initialize";

  
/* STYLES */

.svg-icon {
  height: 30px;
  width: 30px;
  padding: 5px 5px 2px 0
}

.profile-image {
  height: 250px;
  width: 250px;
}

.pub-image {
  max-height: 250px;
}
